@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Pacifico&family=Roboto:ital@1&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar nav"
    "sidebar content";
}

/* Nav */
.nav {
    grid-area: nav;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Search Bar */
.search_bar {
    display: flex;
    width: calc(100% - 35px);
    align-items: center;
    padding: 5px;
    padding-left: 30px;
}

.search_bar svg:first-child {
    height: 35px;
}

.search_bar input {
    margin-left: 10px;
    width: 60%;
    padding: 5px;
    border-radius: 25px;
    background-color: #cae6ff;
    border: none;
}

.search_bar svg:nth-child(3) {
    height: 24px;
    margin-left: 160px;
}

.search_bar img {
    height: 40px;
    margin-left: 20px;
    border-radius: 50%;
    border: 4px solid #FDA172;
}

.search_bar p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

/* Profile */
.profile-section {
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
}

.profile-section img {
    height: 60px;
    border-radius: 50%;
    border: 4px solid #FDA172;
    margin-left: 30px;
    margin-top: 10px;
}

.profile-info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.profile-info p {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
}

.profile-info h3 {
    margin: 0;
    margin-top: 8px;
    font-size: 20px;
}

.profile-buttons {
    width: 430px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.profile-buttons button {
    border-radius: 25px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #FDA172;
    color: white;
    font-weight: bold;
    border: none;
}


/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #FDA172;
    display: flex;
    flex-direction: column;
    padding: 5px;
    z-index: 1;
}

#logo {
    width: calc(100% - 20px);
    height: 80px;
    display: flex;
    padding: 10px;
    align-items: center;
}

#logo svg {
    fill: white;
    height: 70px;
}

#logo p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    justify-self: center;
    margin-left: 5px;
}

.sidebar-item {
    width: calc(100% - 20px);
    padding: 7px;
    display: flex;
    align-items: center;
}

.sidebar-item svg {
    fill:white;
    height: 35px;
}

.sidebar-item p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    justify-self: center;
    margin-left: 15px;
}

#settings {
    margin-top: 30px;
}

/* Content */
.content {
    grid-area: content;
    background-color: #deeffe;
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

/* Projects */
.projects {
    grid-area: projects;
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.project-item {
    height: auto;
    display: grid;
    grid-template-columns: 0.1fr 5fr;
    grid-template-rows: 2.5fr 0.8fr;
    grid-template-areas: 
    "side-design project-info"
    "side-design project-socials";
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

.project-item .side-design {
    grid-area: side-design;
    background-image: linear-gradient(to bottom, #ff00d4, #00ddff);
    border-radius: 25px;
}

.project-item .project-info {
    grid-area: project-info;
    padding: 10px;
}

.project-item .project-socials {
    grid-area: project-socials;
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.project-item .project-socials svg {
    height: 30px;
    margin: 10px;
}

/* Announcements */
.announcements {
    grid-area: announcements;
    padding: 10px;
}

.item-container {
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.item-container .item {
    margin: 10px;
    border-bottom: 2px solid black;
}

.item-container .item h4 {
    margin: 3px;
}

.item-container .item p {
    margin-top: 0;
    font-weight: 10;
}

/* Trending */
.trending {
    grid-area: trending;
    padding: 10px;
}

.trending-container {
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 15px;
}

.trending-container .trending-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.image img {
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FDA172;
}

.text {
    margin-left: 10px;
    padding: 0;
    width: 150px;
}

.text p {
    margin: 0;
}

